* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/cinta.png);
    color: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

header {
    grid-area: header;
}

.logo-nav {
    height: 75px;
}

.estilo-links {
    font-size: large;
    text-decoration: none;
    outline: 0;
    color: white;
    font-weight: bold;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: bolder;
}

.nav-item {
    margin-left: 60px;
}

aside {
    grid-area: aside;
}

.dropdown-menu {
    font-size: large;
    font-weight: bolder;
}

.categoria {
    text-decoration: none;
    outline: 0;
}

.peli_seri1 {
    grid-area: peli_seri1
}

.peli_seri2 {
    grid-area: peli_seri2
}

.poster {
    height: 450px;
    width: 300px;
}

.lista_categorias {
    margin-left: 40px;
    width: 400px;
}

section {
    grid-area: section;
}

.estrenos {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px ;
    margin-right: 40px;
}

.titulo_estrenos {
    padding: 5px;
    color: crimson;
    font-weight: bold;
}

footer {
    grid-area: footer;
}

@import 'pseudoclases', 'grids';